[Unit]
Description=Slow CPU
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/bin/bash /slowcpu

[Install]
WantedBy=basic.target
